@import '../helpers.scss';

@include default-btn;


#logo-container {
    position: relative;
    background: #fff;
    z-index: 1;
}
.fa-arrow-left {
    position: absolute;
    left: 30px;
    top: 50%;
}

header {
    position: relative;
    #menu-img {
        @include menu-img;
    }
    #menu-img2 {
        @include menu-img;
        top: -100px;
    }
}

#menu-section {
    background: $quaternary-color;
    position: relative;
    margin-top: 260px;
    border-radius: 40px 40px 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#restaurant-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    width: 90%;

    h1 {
        font-family: $shrikhand-font;
        font-weight: 400;
        font-size: 32px;
        padding: 0 20px;
    }
}



#menu-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.menu-section-title {
    padding: 0 20px;
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
}

.section-title-separator {
    width: 55px;
    margin: 5px 20px;
    border-bottom: #99e2d0 5px solid;
}

.menu-section {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.menu-item {
    width: 100%;
    background: #fff;
    border-radius: 15px;
    margin: 10px;
    @include box-shadow;
    padding: 15px 0;
    display: flex;


    .item-description {
        background: red;
        width: 75%;
        padding: 5px 20px;

        h3 {
            font-size: 22px;
        }
        p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .price {
        width: fit-content;
        height: 100%;
        background: blue;
        padding: 0 20px;
        display: flex;
        align-items: center;
    }
}

#order-btn {
    margin-bottom: 90px;
}
