@import '../helpers.scss';

@keyframes menu-apparition {
    from {
        opacity: 0;
        transform: translateY(25%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu-item:nth-of-type(2) {
    animation-delay: .2s;
}
.menu-item:nth-of-type(3) {
    animation-delay: .4s;
}
.menu-item:nth-of-type(4) {
    animation-delay: .6s;
}

.menu-item {
    opacity: 0;
    animation: .8s ease-in-out 0s normal forwards 1 menu-apparition;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    margin: 10px;
    @include box-shadow;

    display: flex;
    overflow: hidden;
    position: relative;
    
    p {
        font-size: 16px;
    }
    p, h3 {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .item-description {
        width: 80%;
        // background: red;
        padding: 5px 20px;
        margin: 15px 0;
        white-space: nowrap;
        h3 {
            font-size: 18px;
        }
        p {
            margin: 0;
            width: 95%;
        }
        position: relative;
        @include transition-time;

    }
    .price {
        width: 15%;
        margin: 15px 0;
        // background: green;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        line-height: 27px;
        right: 0;
        bottom: 0;
        @include transition-time;

    }
    .add-to-cart {
        position: absolute;

        top: 0;
        right: -21%;

        background: $tertiary-color;
        color: #fff;
        width: 21%;
        height: 100%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        display: flex;
        align-items: center;
        justify-content: center;
        @include transition-time;

    }
}
.menu-item:hover {
    cursor: pointer;
    .item-description {
        @include transition-time;
    
        width: 60%;
    }
    .add-to-cart {
        @include transition-time;
        transform: translateX(-100%);
    }
    .fa-circle-check {
        @include transition-time;
        transform: rotate(360deg);
    }
    .price {
        @include transition-time;
        transform: translateX(-130%);
    }
}