@import '../helpers.scss';

.menu-item {
    width: 100%;
    background: #fff;
    border-radius: 15px;
    margin: 10px;
    @include box-shadow;
    display: flex;
    overflow: hidden;
    position: relative;
    
    p {
        font-size: 16px;
    }

    .item-description {
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        width: 80%;
        // background: red;
        padding: 5px 20px;
        margin: 15px 0;
        white-space: nowrap;
        h3 {
            font-size: 18px;
        }

    }
    .price {

        width: 15%;
        margin: 15px 0;
        // background: green;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .add-to-cart {
        position: absolute;

        -webkit-transition: .4s;
        -moz-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        top: 0;
        right: -20%;

        background: $tertiary-color;
        color: #fff;
        width: 20%;
        height: 100%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        display: flex;
        align-items: center;
        justify-content: center;

    }
}
.menu-item:hover {
    p, h3 {
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .item-description {
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
    
        width: 58%;
    }
    .add-to-cart {
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        transform: translateX(-90px);
    }
    .fa-circle-check {
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        transform: rotate(360deg);
    }
}