@import '../helpers.scss';


#restaurant-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    width: 90%;

    @include fav-btn-xl;
    
    h1 {
        font-family: $shrikhand-font;
        font-weight: 400;
        font-size: 28px;
        padding: 0 10px;
    }
}
