$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$quaternary-color: #F6F6F6;
$quinary-color: #F5EDFF;

$title-font-size: 28px;
$p-font-size: 18px;

$roboto-font: 'Roboto', sans-serif;
$shrikhand-font: 'Shrikhand', cursive;

@mixin box-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 9px 2px;
}
@mixin default-btn {
    button {
        width: 250px;
        height: 60px;
        margin-top: 30px;
        border-style: none;
        border-radius: 30px;
        padding: 10px 20px;
        color: #fff;
        background: linear-gradient($secondary-color, $primary-color);
        font-size: 18px;
        font-weight: 600;

        transition: all .2s ease-in-out;
    }
    button:hover {
        cursor: pointer;
        @include box-shadow;
        transform: translateY(-3px);
    }
}

@mixin menu-img {
    width: 100%;
    position: absolute;
    z-index: -1;
}

@mixin fav-btn {
    .fav-btn {
        order: 2;
        margin-right: 20px;
        position: relative;
        height: 25px;
        width: 25px;
        cursor: pointer;

        i {
            position: absolute;
            top: 50%;  /* position the top  edge of the element at the middle of the parent */
            left: 50%; /* position the left edge of the element at the middle of the parent */
        
            transform: translate(-50%, -50%);
        }

        .fa-heart {
            transition: .4s ease;
        }

        .fa-regular.fa-heart {
            opacity: 1;
        }
        .fa-solid.fa-heart {
            position: absolute;
            left: 1px;
            transform: scale(0);
        }

        .fa-solid.fa-heart::before {
            background: -webkit-gradient(linear, left top, left bottom, from($primary-color), to($secondary-color));
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            display: initial;
        }
    }
    .fav-btn:hover {
        .fa-solid.fa-heart {
            transform: scale(1);
        }

        
        .fa-regular.fa-heart {
            opacity: 0;
        }
    }
}

@mixin fav-btn-xl {
    .fav-btn {
        order: 2;
        margin-right: 20px;
        position: relative;
        height: 25px;
        width: 25px;
        cursor: pointer;

        i {
            position: absolute;
            top: 50%;  /* position the top  edge of the element at the middle of the parent */
            left: 50%; /* position the left edge of the element at the middle of the parent */
        
            transform: translate(-50%, -50%);
        }

        .fa-heart {
            transition: .4s ease;
        }

        .fa-regular.fa-heart {
            opacity: 1;
        }
        .fa-solid.fa-heart {
            position: absolute;
            left: -3px;
            transform: scale(0);
        }

        .fa-solid.fa-heart::before {
            background: -webkit-gradient(linear, left top, left bottom, from($primary-color), to($secondary-color));
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            display: initial;
        }
    }
    .fav-btn:hover {
        .fa-solid.fa-heart {
            transform: scale(1);
        }

        
        .fa-regular.fa-heart {
            opacity: 0;
        }
    }
}
// #loading-spinner {
//     position:fixed;
//     background: #fff;
//     width: 100vw;
//     height: 100vh;
//     animation: fade 1s forwards;
// }

// @keyframes fade {
//     to {
//         opacity: 0;
//     }
// }